@charset "utf-8";

/*
    메인컬러:#3617CE
    기본폰트사이즈:1rem = 16px
*/
/* 공통 */
.title {
    font-size: 1.875rem;
    /* 30px */
    font-weight: 600;
}
.main_title {
    font-size: 1.875rem;
    /* 30px */
}
.main_text {
    font-size: 1.125rem
    /* 18px */
}

.sub_title {
    font-size: 1.25rem;
    /* 20px; */
}
/*  */
body {
    width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
}

#container {
    width: 100%;
}

.inner {
    max-width: 1400px;
    height: auto;
    padding: 0 45px;
    margin: 0 auto;
}

/* header */
header {
    background-color: #ffffff;
    width: 100%;
    position: relative;
    left:0;
    top:0;
    z-index: 9999;
}

header.fixed{
    position: fixed;
}

.header_flex {
    width: 100%;
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background:#fff;
}

.header_flex>div:nth-child(3) {
    margin-left: auto;
}

.logo {
    margin-left: -13px;
}

/*  */

/* gnb */
.gnb {
    display: flex;
    justify-content: left;
    margin: 0 85px;
    gap: 50px;
}

.gnb_list {
    position: relative;
    border-bottom: 5px solid transparent;
    transition: all 0.3s;
}

.gnb_list>a {
    padding: 10px 0;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 500;
}

.gnb_list>a:hover {
    color: #3617CE;
}

.gnb_list::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 0;
    background: #3617CE;
    transition: 0.3s ease;
    z-index: 0;
}

.gnb_list:hover::after {
    width: 100%;
    left: 0;
}

.gnb_list.current {
    position: relative;
    display: block;
    color: #3617CE;

}

.gnb_list.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: #3617CE;
    z-index: 10;
}

/*  */

/* gnb2번 b다이렉트 */
.bdirect {
    position: relative;
}

.bdirect strong {
    color: black;
    font-weight: 500;
}

.bdirect span {
    width: 150px;
    position: absolute;
    top: -30px;
    left: -25%;
    font-size: 0.75rem;
    /* 12px */
    font-weight: 500;
    color: #3617CE;
    border: 1px solid #3617CE;
    border-radius: 30px;
    padding: 4px;
    display: none;
    transition: transform all 0.2s;
}

.bdirect span::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    bottom: -5.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-right: 1px solid #3617CE;
    border-bottom: 1px solid #3617CE;
}

/* dep1 */
.submenu {
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 997;
}

.subwrap {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}

.gnb_menu {
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: none;
}

.currenton {
    display: flex;
    justify-content: space-between;
}



.dep1_list>a {
    position: relative;
    display: block;
    font-size: 1.2rem;
    /* 16px */
    font-weight: 500;
    padding: 20px 0;
}

.subwrap>.gnb_menu>.dep1_list>a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100vw;
    height: 1px;
    background-color: #ddd;
    transform: translateX(-50vw);
}

.dep1_list>a:hover {
    color: #3617CE;
}

/*  */

/* dep2 */

.dep2_list {
    width: 180px;
    margin: 20px 0;
    position: relative;

}

.dep2_list a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    color: #797979;
    border-bottom: 1px solid transparent;
}

.dep2_list a:hover {
    color: #3617CE;
    border-bottom: 1px solid #3617CE;
}

.dep_new > a{
    position: relative;
}
.dep_new > a::after{
    position:absolute;
    content: 'N';
    background-color: #3617CE;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px 20px 20px 0;
    top: 0;
    left: 75px;
}

/*  */

/* dep3 */
.dep3 {
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f1f1f1;
    display: none;
}

.dep3.on {
    display: block;
}

.dep3 li a {
    font-size: 0.875rem;
    /* 14px */
}

.toggle {
    position: relative;
    cursor: pointer;
}

.toggle::before {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    background: url(../img/arrow_down.png)no-repeat center/cover;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.toggle.active::before {
    transform: rotate(180deg);
}


/*  */

/* util */
.util,
.util_flex {
    height: 30px;
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.company div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company div a {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.intro {
    margin-right: 12px;
}

.login .logintext {
    position: relative;
    display: inline-block;
    display: none;
}

.menu img {
    width: 30px;
    height: 30px;
}

/* login마우스 hover시 */
.login .logintext::before {
    position: absolute;
    content: '로그인 하기';
    width: 100px;
    padding: 4px;
    font-size: 0.75rem;
    /* 12px */
    font-weight: 600;
    color: #3617CE;
    border: 1px solid #3617CE;
    border-radius: 30px;
    top: -78px;
    left: -40px;
}

.login .logintext::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    bottom: 48px;
    left: 15px;
    transform: translateX(-50%) rotate(45deg);
    border-right: 1px solid #3617CE;
    border-bottom: 1px solid #3617CE;
}

/*  */

/* search */
.search_box {
    display:none;
    position: absolute;
    z-index: 999;
    background-color: #ffffff;
    width: 100%;
    height: 350px;
    top:120px;
}

.search_box .search_form {
    width: 100%;
    padding: 75px 0 50px 0;
    position: relative;
}

.keyword_form {
    position: relative;
}

.keyword_form input[type="search"] {
    width: 100%;
    height: 70px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #3617CE;
    font-size: 1.875rem;
    /* 30px */
    font-weight: 600;
    color: #797979;
    letter-spacing: -1px;
    outline: none;
}

.search_btn {
    cursor: pointer;
    position: absolute;
    content: '';
    border: none;
    background-color: transparent;
    background: url(../img/input_search.png)no-repeat center/contain;
    width: 45px;
    height: 70px;
    top: 0;
    right: 0;
}

.keyword_flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    font-weight: 700;
}

.keyword_flex h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 18px;
}

.keyword,
.best_keyword {
    display: flex;
    justify-content: flex-start;
    /* 요소들을 왼쪽 정렬 */
    gap: 15px;
    letter-spacing: -5px;
}

.keyword {
    width: 55%;
    padding-top: 18px;
}

.keyword li a {
    color: #797979;
    background-color: #ffffff;
    letter-spacing: -1.5px;
    font-size: 1rem;
    font-weight: 600;
    padding: 6px 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    letter-spacing: -1.5px;
}

.best_keyword {
    width: 280px;
    padding: 20px;
    flex-direction: column;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
}

.best_keyword:hover {
    border: 1px solid #3617CE;
    background-color: white;
    z-index: 1;
}

.best_keyword li {
    display: none;
    justify-content: flex-start;
}

.best_keyword li.keywordon:first-child {
    display: flex;
}

.best_keyword:hover li {
    display: flex;
}

.best_keyword li a {
    width: 100%;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
}

.best_keyword li a:hover {
    font-weight: 500;
}

.best_keyword li a span {
    display: inline-block;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: #3617CE;
    width: 24px;
    height: 24px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-right: 12px;
    border-radius: 4px;
}

.search_closebtn {
    position: absolute;
    top: 300px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.search_closebtn:after {
    position: absolute;
    content: '';
    background: url(../img/ic_header_search_close.svg)no-repeat center/cover;
    top: 3px;
    left: 30px;
    width: 20px;
    height: 20px;
}
/*  */

.menu_box {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 14px;
    z-index: 998;
    border-top: 1px solid #ddd;
    display: none;
}

.menu_box.on {
    display: block;
}

.menu_searchform {
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    position: relative;
}

.menu_searchform input[type="search"] {
    height: 60px;
    font-size: 1.1rem;
    border: none;
    background-color: #F2F2F2;
    border-radius: 50px;
    width: 100%;
    padding: 12px;
    padding-left: 40px;
}

.menu_searchform .search_btn {
    position: absolute;
    content: '';
    border: none;
    background-color: transparent;
    background: url(../img/input_search.png)no-repeat center/contain;
    width: 38px;
    height: 60px;
    top: -2px;
    right: 20px;
}

.menu_box p {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 50px;
    font-weight: 400;
}

.menu_box p strong {
    color: #3617CE;
    font-weight: 600;
}

.menu_box1 {
    position: absolute;
    width: 100%;
    height:600px;
    background-color: #ffffff;
    z-index: 997;
    padding-bottom:60px
}
.menu_box1>.inner {
    height:100%;
    overflow-y:scroll;
}
.menu_box1 .inner {
    background-color: #ffffff;
}

.menu_form {
    display: flex;
}

.menu_title {
    width: 330px;
}

.menu_title a {
    display: flex;
    align-items: center;
}

.menu_title a h1 {
    margin-left: 5px;
}

.menu_content {
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
}

.menu_content>.dep1_list>a {
    border-bottom: 1px solid #ddd;
    padding-top: 7px;
}


main {
    width: 100%;
    height: auto;  /* 부드러운 전환 효과 */
}
/*  */
/* dim */
.dim {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}
/*  */
/* header.html */

/* main */