@charset "utf-8";

/* 1280px */
@media screen and (max-width: 1280px) {
    .gnb {
        display: none;
    }

    .slide_title {
        font-size: 36px;
    }

    .mySwiper .swiper-button-next {
        right: 5%;
    }

    .mySwiper .swiper-button-prev {
        left: 5%;
    }

    .item_box {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .item_box .item_title {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .favorites_box {
        flex-direction: column;
    }

    .favorites_box .main_title {
        margin-bottom: 20px;
    }

    .favorites li {
        flex: 1 1 100%;
    }

    .self_flex {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .self_list {
        margin: 20px 0;
    }

    .footer_list {
        width: 100%;
    }

    .footer_flex {
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .skbroadband {
        padding-top: 20px;
    }

    .footer_copyright {
        text-align: center;
    }

    #footer {
        padding-bottom: 50px;
    }
}

/* 1024px */
@media screen and (max-width: 1024px) {
    .item a img {
        width: 100px;
    }

    .favorites .main_text {
        font-size: 16px;
    }

    .suggest_title {
        font-size: 22px;
    }

    .item_intro {
        font-size: 16px
    }

    .calc {
        line-height: 80px;
    }

    .calc span {
        font-size: 20px;
    }

    .calc_btn {
        font-size: 16px;
    }
}

/* 900px */
@media screen and (max-width: 900px) {
    .slide_box {
        padding: 50px 65px;
    }

    .slide_title {
        font-size: 34px;
    }

    .slide_btn {
        left: 65px;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 500;
    }

    .item a img {
        width: 80px;
    }

    .favorites {
        flex-wrap: wrap;
    }

    .calc {
        line-height: 70px;
    }

    .calc span {
        font-size: 16px;
    }

    .calc_btn {
        font-size: 14px;
    }

    .item_flex {
        flex-wrap: wrap;
    }

    .item_flex li {
        flex: 0 0 calc(50% - 30px);
        margin: 5px;
    }

    .self_list li {
        flex: 1 1 100%;
    }
}

/* 768px */
@media screen and (max-width:768px) {
    .company {
        display: none;
    }

    .login {
        display: none;
    }

    .slide_title {
        font-size: 26px;
    }

    .item a img {
        width: 60px;
    }

    .item_box .item_title {
        font-size: 26px;
    }

    .main_title {
        font-size: 26px;
        font-weight: 500;
    }

}

/* 600px */
@media screen and (max-width:600px) {
    .item_title {
        margin-top: 0;
        font-size: 16px;
    }

    .item_intro {
        font-size: 14px;
    }
}