@charset "utf-8";

/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/*헤더*/
header{height:120px;}
header:after {display:block; content:''; clear:both;}
header .inner{height:100%;display:flex;align-items:center;position: relative;}
header h1{position: absolute;}
header h1 svg{fill:rgba(54, 23, 206, 1)}
header h2 {display:none;}
header .gnb{display:flex;height:100%;position: absolute;left:150px;top:50%;transform:translateY(-50%) ;}
header .gnb li{padding:0 24px;height:100%;display:flex;align-items:center;}
header .gnb li a{font-size:20px;font-weight:400;position:relative;}
header .gnb li a::before{content:'';position:absolute;width:0px;height:4px;bottom: -15px;left:50%;background-color:rgba(54, 23, 206, 1);transition:all 0.4s ease;transform:translateX(-50%);}
header .gnb li a:hover, header .gnb li a.active{color:rgba(54, 23, 206, 1)}
header .gnb li a.active::before {width: 100%;left: 50%;transform: translateX(-50%);}

.submenu_wrap{position: relative;border-bottom:1px solid #ccc;display:none;z-index:99;background:#fff;}
.submenu_wrap::before{content:'';width:100%;height:1px;background:#ccc;position:absolute;top:0;left:0;z-index: 1;}
.submenu_wrap::after{content:'';width:100%;height:1px;background:#ccc;position:absolute;top:60px;left:0;z-index: 1;}
.submenu{max-width:1400px;padding:0 14px;margin:0px auto;}

.lnbmenu{display:flex;}
.lnbmenu>li{flex:1;padding:0 10px}
.lnbmenu>li>a{font-size:20px;height:60px;line-height:60px;font-weight:500;}
.lnbmenu>li>a:hover{color:rgba(54, 23, 206, 1)}
.lnbmenu>li>ul{padding:14px 0 60px 0;}
.lnbmenu>li>ul>li{padding:6px 0;color:#555}
.lnbmenu>li>ul>li>a:hover{color:rgba(54, 23, 206, 1);text-decoration:underline;}

.new_icon{display:inline-block;background:url('../img/icon_new.svg');width:20px;height:20px;position:relative;left:8px;top:2px}


@media all and (min-width:721px) {
	header.fixed{position:fixed}
}

/*공통*/
.inner{max-width:1400px;margin:0px auto;padding:0 14px}
.blue_bg{background:rgba(54, 23, 206, 1)}
.gray_bg{background:#f4f4f4}
.toggle-btn{position: relative;cursor:pointer;}
.toggle-btn::before{content:'';display:block;background:url('../img/ic_arrow_right2.svg');width:20px;height:20px;position:absolute;right:4px;transform:rotate(90deg);-webkit-transition:0.3s;transition:0.3s;}
.toggle-btn.on::before{transform:rotate(0deg);}
.dropdown-content {max-height:0;overflow: hidden;}
.dropdown-content.on {max-height:120px;overflow-y:scroll;background:#f2f2f2;color:#797979;font-size:14px;display:flex;flex-direction:column;padding:14px;border-radius:6px;margin-top:10px}
.dropdown-content a + a{margin-top:4px}
.menu_ti{font-size:1.8rem;font-weight:600;margin-bottom:30px;}
.btn{display:inline-block;}
.btn_blue{background:#3617ce;color:#fff;}
.btn_wh{background:#fff;border:1px solid #ddd;}
.btn_group{display:flex;}
.btn_group .btn{flex:1;}
.btn_group .btn + .btn{margin-left:10px}
.bg_gray{background:#f4f4f4;padding:60px 0;margin-top:50px}

/*메인*/
.main_bn .mySwiper{overflow: hidden;}
.main_bn .swiper-slide{width:100%;min-height:435px;}
.mb01{background:url('../img/mb01.png')no-repeat;}
.mb02{background:url('../img/mb02.png')no-repeat;}
.mb03{background:url('../img/mb03.png')no-repeat;}
.main-txt{padding:50px 130px;color:#fff;}
.main-txt h2{font-size:2.5rem;font-weight:600;line-height:1.4;margin:20px 0;}
.main-txt span{font-size:1.4rem;font-weight:400;}
.main-txt span.sm{font-size:1rem;font-weight:500;}
.main-txt a{display:block;margin-top:20px;border-radius:50px;border:2px solid #fff;max-width:180px;text-align:center;padding:10px 20px}

.guide_box{display:flex;align-items:center;justify-content: space-between;min-height:250px;padding: 35px 74px;border-radius:16px;
background-color: #fff;box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);position:relative;z-index:1;top:-50px}
.guide_box h3{font-size:2rem;font-weight:500;}
.guide_box ul{display:flex;gap:50px;justify-content:space-between;}
.guide_box ul li a span{display:block;text-align:center;font-size:1.125rem;font-weight:500;margin-top:0.5rem}

.favorites_box{display:flex;align-items:center;justify-content:center;}
.favorites_box h3{font-size:1.7rem;font-weight:400;}
.favorites_box ul {display:flex;margin-left:40px;overflow-x:auto;}
.favorites_box ul li a{display:inline-block;min-width:200px;border:1px solid #ddd;border-radius:50px;padding:15px 22px;font-size:1.125rem;font-weight:400;text-align:center;}
.favorites_box ul li a:hover{border-color:#3617ce;color:#3617ce}
.favorites_box ul li + li{margin-left:10px}

.productsSwiper{position: relative;overflow: hidden;}
.products_box{background:#fff;padding:36px 30px 30px;border-radius:16px;border: 2px solid #3617ce;
	min-height:490px;display:flex;flex-direction: column;align-items:center;}
.products_box h6{font-size:1.5rem;font-weight:bold;letter-spacing:-1px;height:84px}
.prod_price {min-height:42px; margin-top: 15px;}
.prod_price .price_del {font-size:21px; font-weight:400; color:#797979;}
.prod_price .price_rate {margin-left:0px;font-size:25px; font-weight:900; color:#ff404e;}
.prod_benefit {display:flex; flex-direction:column; align-self:center; min-height:62px; margin-top:15px; font-size:14px; font-weight:400; text-align:left; color:#a9a9a9; line-height:20px;}
.prod_benefit li {display:inline-block; position:relative; padding-left:10px;}
.prod_benefit li::before {content:''; position:absolute; top:7px; left:0; width:4px; height:4px; border-radius:50%; background-color: #a9a9a9;}
.products_box .btn_wrap{width:100%;margin-top:30px}
.products_box .btn_wrap a{width:100%;height:56px;line-height:52px;border-radius:4px;text-align:center;font-size:1.05rem;font-weight:500}
.products_box .btn_group{margin-bottom:10px;}

.etc_bn{background:#3617ce;text-align: center;color:#fff;font-size:1.3rem;padding:20px 0;}

.cont_list{margin:50px 0;}
.cont_box ul{display:flex;flex-wrap: wrap;}
.cont_box ul li{flex:1;margin:1%;border-radius:20px;text-align:center;min-height:330px}
.cont_box ul li a{width:100%;height:100%;display:flex;flex-direction:column;align-items: center;justify-content: center;
	font-size:1.125rem;color:#555}
.cont_box ul li strong{display:block;font-size:1.25rem;font-weight:400;margin:10px 0;color:#333;}

@media screen and (max-width:1200px) {
	.guide_box{flex-wrap: wrap;padding:35px}
	.guide_box ul{margin-top:1rem;gap:40px;width:100%;flex-wrap: wrap;}
	.guide_box ul li{flex:1;display: flex;justify-content: center;}
}

@media screen and (max-width:880px) {
	html{font-size:14px}
	.submenu_wrap, header nav{display:none}
	.main-txt{padding:50px 20px}
	.guide_box ul li a img{width:100px;}
	.favorites_box{flex-wrap: wrap;justify-content: flex-start;}
	.favorites_box ul{margin-left:0;margin-top:1rem;}
	.cont_box ul li{flex:0 0 48%;min-height:220px}
	.cont_box ul li img{width:80px}
}

@media screen and  (max-width:520px) {
	.main-txt h2{font-size:2rem}
	.guide_box h3{font-size:1.8rem}
}